.popup {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgb(0, 0, 0, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-28) 0px;
  cursor: pointer;
  transform: translateY(-100%);
}
.popup.show {
  transition: transform var(--time-transition) ease;
  transform: translateY(0);
}
